
.section-info {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 15px;

  .board-info {
    display: flex;
    gap: 1em;
    align-items: center;

    .avatars {
      display: flex;
      gap: 1em;
    }
  }

  .board-actions {
    display: flex;
    align-items: center;
    overflow-x: hidden;

    .menu {
      padding: 10px;
      border-radius: 8px;

      .menu-header {
        margin: 15px;
      }
    }

    .side-hide-bar {
      position: absolute;
      background-color: #FFFFFF;
      right: 0;
      bottom: 0;
      top: 65px;
      width: 500px;
      padding: 20px;
      padding-bottom: 50px;
      // transition: 0.5s ease;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
      }

      .card-create-by {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 15px;

        h4 {
          margin: 0;
        }

        span {
          font-size: 12px;
          color: #BDBDBD;
        }
      }

      .board-description {
        //border-radius: 8px;
        //border: 1px solid #BDBDBD;
        // padding: 15px;
      }

      .board-description-info {
        display: flex;
        justify-content: space-between;
      }
    }

    .inactive {
      visibility: hidden;
    }
    
  }
}

.sub_title {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #BDBDBD;
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.description-edit {
  .input-description {
    width: 100%;
  }

  .visualizer {
    display: flex;
    gap: 1em;
    margin-bottom: 15px;
  }

  .actions-edit {
    display: flex;
    justify-content: end;
    gap: 1em;
  }
}


.dropable-container {
  display: flex;
  flex-direction: column;
}


.column-list {
  display: flex;
}
