@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,400;1,700&display=swap");
.card {
  color: black;
}

.baged {
  background-color: #EBDCF9;
  border-radius: 8px;
}
.baged-text {
  color: #9B51E0;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.035em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.navbar .info {
  display: flex;
  gap: 5em;
}
.navbar .actions-nav {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
.navbar .actions-nav .search {
  display: flex;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: 8px;
}
.navbar .actions-nav .search input {
  border: 0;
}
.navbar .actions-nav .search input:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
}
.navbar .actions-nav .search button {
  border-radius: 8px;
}

@media (min-width: 1200px) {
  .boards {
    margin: 30px 180px 0px 180px;
  }
}
.boards .header-content {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .boards .header-content {
    margin: 0px 23px 0px 23px;
  }
}
.boards .list-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
}

.board-form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.board-form form .container-img {
  position: relative;
}
.board-form form .container-img .container-image {
  overflow: hidden;
  width: 100%;
  height: 100px;
  border-radius: 8px;
}
.board-form form .container-img .container-image .image {
  width: 100%;
  border-radius: 8px;
}
.board-form form .container-img .delete-photo {
  position: absolute;
  top: -14px;
  right: -14px;
}
.board-form form .container-img .delete-photo button {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.board-form form .container-input input {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.board-form form .container-input input:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
}
.board-form form .container-status {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.board-form form .container-status .status-cover {
  background-color: #F2F2F2;
  color: #828282;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 5px 7px 7px 7px;
  cursor: pointer;
}
.board-form form .container-status .status-cover:hover {
  background-color: #D3EADD;
  color: #219653;
}
.board-form form .container-status .status-visibility:hover {
  background-color: #EBDCF9;
  color: #9B51E0;
}
.board-form form .container-status .status-cover--active {
  background-color: #D3EADD;
  color: #219653;
}
.board-form form .container-status .status-visibility--active {
  background-color: #EBDCF9;
  color: #9B51E0;
}
.board-form form .footer-actions {
  display: flex;
  justify-content: right;
  gap: 1em;
}

input {
  padding: 10px;
}

.d-none {
  display: none;
}

.section-trullo .container-logo {
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1em;
}
.social-media .text {
  color: #828282;
}
.social-media .icons-social {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .container-register {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 25px;
  background-color: #FFFFFF;
  max-width: 400px;
  position: absolute;
  top: 150px;
}
.register .container-register form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 10px;
}
.register .container-register form input {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

body {
  background: #F8F9FD;
}/*# sourceMappingURL=main.css.map */